html {
  font-family: 'Cabin', sans-serif;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  --text-light:               #111111;
  --text-dark:                #ffffff;
  --background-lighter:       #ffffff;
  --background-light:         #ebebf5;
  --background-dark:          #252739;
  --background-dark-trans:    #252739e6;
  --background-darker:        #030314;
  --accent-home:              #1223db;
  --accent-programming:       #007c92;
  --accent-web:               #3a8505;
  --accent-design:            #996412;
  --accent-home-dark:         #040f81;
  --accent-programming-dark:  #005161;
  --accent-web-dark:          #296500;
  --accent-design-dark:       #6f4b10;
  --accent-home-light:        #8f98ff;
  --accent-programming-light: #82d6e6;
  --accent-web-light:         #a5dd7a;
  --accent-design-light:      #eebf73;

  background-color: light-dark(var(--background-light), var(--background-darker));
  
  color-scheme: light dark;
}

body {
  margin: 0px;

  background-color: light-dark(var(--background-light), var(--background-darker));
}

main {
  margin: 4em 0px;
}

footer {
  padding: 2rem 0;

  text-align: center;

  color: var(--text-dark);
}

footer             { background-image: linear-gradient(to bottom right, var(--accent-home), var(--accent-home-dark)); }
footer.programming { background-image: linear-gradient(to bottom right, var(--accent-programming), var(--accent-programming-dark)); }
footer.web         { background-image: linear-gradient(to bottom right, var(--accent-web), var(--accent-web-dark)); }
footer.design      { background-image: linear-gradient(to bottom right, var(--accent-design), var(--accent-design-dark)); }

main>p {
  width: 80%;
  margin: auto;

  font-size: 16pt;
}

.site-nav {
  display: flex;
  justify-content: center;

  margin: 0px 0px 2em;
  padding: 2rem 0;

  background-color: light-dark(var(--background-lighter), var(--background-darker));
}

.site-nav a {
  padding: 1rem 2rem;
  border-width: 5px 0px 5px 0px;
  border-style: solid;

  transform: skewX(16deg);
  
  text-decoration: none;
  font-size: 2em;

  color: light-dark(var(--text-light), var(--text-dark));
  background-color: light-dark(var(--background-lighter), var(--background-darker));
  transition: color 100ms ease, background-color 100ms ease;
}

.site-nav a p {
  margin: 0px;

  transform: skewX(-16deg);
}

.site-nav a:hover, .site-nav a:focus {
  background-color: none;
}
.site-nav a:hover p, .site-nav a:focus p {
  color: var(--text-dark);
}

.site-nav a:focus {
  outline-width: 5px;
  outline-style: solid;
  z-index: 1;
}

a.nav-home p {
  font-weight: bold;
}

a.nav-home { border-color: light-dark(var(--accent-home-dark), var(--accent-home-light)); }
a.nav-home p { color: light-dark(var(--accent-home-dark), var(--accent-home-light)); }
a.nav-home:hover,
a.nav-home:focus {
  background-color: var(--accent-home-dark);
  border-color: var(--accent-home);
  outline-color: var(--accent-home);
}

a.nav-programming { border-color: light-dark(var(--accent-programming-dark), var(--accent-programming-light)); }
a.nav-programming p { color: light-dark(var(--accent-programming-dark), var(--accent-programming-light)); }
a.nav-programming:hover,
a.nav-programming:focus {
  background-color: var(--accent-programming-dark);
  border-color: var(--accent-programming);
  outline-color: var(--accent-programming);
}

a.nav-web { border-color: light-dark(var(--accent-web-dark), var(--accent-web-light)); }
a.nav-web p { color: light-dark(var(--accent-web-dark), var(--accent-web-light)); }
a.nav-web:hover,
a.nav-web:focus {
  background-color: var(--accent-web-dark);
  border-color: var(--accent-web);
  outline-color: var(--accent-web);
}

a.nav-design { border-color: light-dark(var(--accent-design-dark), var(--accent-design-light)); }
a.nav-design p { color: light-dark(var(--accent-design-dark), var(--accent-design-light)); }
a.nav-design:hover,
a.nav-design:focus {
  background-color: var(--accent-design-dark);
  border-color: var(--accent-design);
  outline-color: var(--accent-design);
}

@media (max-width: 1080px) {
  .site-nav a {
    padding: 1rem;
  }
}

@media (max-width: 640px) {
  .site-nav {
    flex-direction: column;

    margin: 0px;
  }

  .site-nav a {
    padding: 10px;
    border-width: 0 0.5em;

    transform: skewX(0deg);
  }

  .site-nav a p {
    transform: skewX(0deg);
  }
}

.hero {
  margin: 0px;
  padding: 2rem;
}

.hero             { background-image: linear-gradient(to top right, var(--accent-home), var(--accent-home-dark)); }
.hero.programming { background-image: linear-gradient(to top right, var(--accent-programming), var(--accent-programming-dark)); }
.hero.web         { background-image: linear-gradient(to top right, var(--accent-web), var(--accent-web-dark)); }
.hero.design      { background-image: linear-gradient(to top right, var(--accent-design), var(--accent-design-dark)); }

.hero-text {
  width: max-content;
  max-width: 90vw;
  text-align: left;

  margin: 0px 2em;

  color: var(--text-dark);
}

.hero-text h1 {
  margin: 0px 20px 0px 20px;
  padding-bottom: 10px;
  border-bottom: 5px var(--text-dark) solid;
  
  font-size: 5em;
  font-weight: 300;
}

.hero-text h1:only-child {
  border-bottom: none;
}

.hero-text h2 {
  margin: 20px;

  font-size: 2em;
  font-weight: 300;
}

@media (max-width: 1080px) {
  .hero-text {
    margin: 0px auto 0px auto;
  }

  .hero-text h2 {
    width: 500px;
  }
}

@media (max-width: 640px) {
  .hero-text {
    text-align: center;
    width: min-content;
    margin: 0px auto 0px auto;
  }

  .hero-text h2 {
    width: auto;
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 100%;
  padding: 2em 10%;
  box-sizing: border-box;

  background-color: light-dark(var(--background-light), var(--background-darker));
}

.gallery-item {
  flex-grow: 1;
  
  margin: 1.6%;
  max-width: 40%;
  width: 40%;
  height: 30%;
  overflow: clip;
  border-radius: 5px;

  z-index: 0;

  transform: scale(100%);
  transition: transform 200ms ease-in-out;
}

.gallery-item.full {
  max-width: 60%;
  width: 60%;
}

.gallery-item>a {
  display: block;
  width: 100%;
  height: 100%;
}

.gallery-item>a>img {
  display: block;
  width: 100%;

  position: relative;
  bottom: 0;
  
  transform: scale(105%);
  transition: transform 200ms ease-in-out;
}

.gallery-item-blurb {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px;
  
  transform: translateY(100%);
  transition: transform 300ms ease-in-out;
  
  background-color: var(--background-dark-trans);
  color: var(--text-dark);

  text-align: center;
}

.gallery-item-blurb>* {
  margin: 0;
}

.gallery-item-blurb>h1 {font-size: 3vw;}
.gallery-item-blurb>h2 {font-size: 1.5vw;}
.gallery-item.full .gallery-item-blurb>h1 {font-size: 5vw;}
.gallery-item.full .gallery-item-blurb>h2 {font-size: 2.5vw;}

.gallery-item:hover,
.gallery-item:focus-within
{
  transform: scale(105%);

  img {
    transform: scale(100%);
  }

  .gallery-item-blurb {
    transform: translateY(0);
  }
}

.gallery-item:focus-within {
  z-index: 1;
  outline-width: 0.5rem;
  outline-style: solid;
}

.gallery-item.programming:focus-within { outline-color: var(--accent-programming); }
.gallery-item.web:focus-within { outline-color: var(--accent-web); }
.gallery-item.design:focus-within { outline-color: var(--accent-design); }

@media (max-width: 1080px) {
  .gallery {
    width: 100%;
    padding: 2em 0px;
  }

  .gallery-item-blurb>h1 {font-size: 3vw;}
  .gallery-item-blurb>h2 {font-size: 2.5vw;}
  .gallery-item.full .gallery-item-blurb>h1 {font-size: 5vw;}
  .gallery-item.full .gallery-item-blurb>h2 {font-size: 3.5vw;}
}

@media (max-width: 640px) {
  .gallery-item, .gallery-item.full {
    max-width: 100%;
    width: 100%;
  }

  .gallery-item:hover,
  .gallery-item:focus-within
  {
    transform: scale(100%);
  }

  .gallery-item-blurb>h1 {font-size: 8vw;}
  .gallery-item-blurb>h2 {font-size: 4.5vw;}
  .gallery-item.full .gallery-item-blurb>h1 {font-size: 8vw;}
  .gallery-item.full .gallery-item-blurb>h2 {font-size: 4.5vw;}
}

.project {
  display: grid;
  grid-template: 
    "title    thumbnail"
    "subtitle thumbnail"
    "content  content" /
    1fr 1fr
  ;
  align-items: center;
  gap: 3em;

  width: 80%;
  margin: 2em auto;
  padding: 3em;
  border-radius: 10px;
  box-sizing: border-box;

  background-color: light-dark(var(--background-lighter), var(--background-dark));
}

.project>.title {
  grid-area: title;

  font-size: 4em;
  margin: auto 0 0;

  justify-self: left;
}

.project>.subtitle {
  grid-area: subtitle;

  margin: 0 0 auto;
}

.project>.thumbnail {
  grid-area: thumbnail;
  justify-self: right;

  max-width: 100%;
  max-height: 50vh;

  box-shadow: 0 5px 10px light-dark(var(--background-light), var(--background-darker));
}

.project>.content {
  grid-area: content;
  font-size: 16pt;
  line-height: 24pt;
}

.project p, .project ul {
  margin: 1.5em 0;
}

@media (max-width: 1080px) {
  .project {
    grid-template: 
      "title    thumbnail"
      "subtitle subtitle"
      "content  content" /
      1fr 1fr
    ;
    gap: 2em;

    padding: 2em;
  }

  .project>.title {
    grid-area: title;

    margin: auto;
    font-size: 4em;

    justify-self: left;
  }
}

@media (max-width: 720px) {
  .project {
    grid-template: 
      "title"
      "subtitle"
      "thumbnail"
      "content" /
      1fr
    ;

    width: auto;
    margin: 1.6%;
  }

  .project>.title {
    justify-self: center;
    text-align: center;
  }

  .project>.subtitle {
    text-align: center;
  }

  .project>.thumbnail {
    justify-self: center;
  }
}

.image-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1.5em;
  margin-top: 4em;
}

.image-list-item {
  width: min-content;
  margin: 0;
}

.image-list-item img {
  height: 300px;
  box-shadow: 0 5px 10px light-dark(var(--background-light), var(--background-darker));
}

.image-list-item figcaption {
  text-align: center;

  margin: 0;

  font-size: 16pt;
}

@media (max-width: 1280px) {
  .image-list-item img {
    height: 200px;
  }
}

@media (max-width: 960px) {
  .image-list {
    display: block;
    column-count: 2;
    column-gap: 2em;
  }
  
  .image-list-item {
    height: auto;
    width: 100%;
    margin: 0;
    break-inside: avoid;
  }
  
  .image-list-item img {
    height: auto;
    width: 100%;
    margin: 2em 0 0;
  }

  .image-list-item:nth-child(2n) {
    order: 1;
  }
}

@media (max-width: 640px) {
  .image-list {
    column-count: 1;
  }

  .image-list-item img {
    height: auto;
    width: 100%;
    margin: 0;
  }

  .image-list-item {
    margin: 2em 0 0;
  }
}
