.tree.container {
    display: flex;
    flex-direction: column-reverse;
    max-width: 100%;
    padding: 0.5rem 0.1rem;
    margin: 0 0.1rem 0.1rem;
}

.tree.remixes {
    flex-direction: row;
    top: 3px;
    padding-bottom: 0.5rem;
    border-bottom-width: 7px;
    border-top: none;
}

.tree.project {
    margin-left: auto;
    margin-right: auto;
}

.tree.thumbnail {
    width: 100px;
}