/*******************************
* ELEMENT STYLES 
*******************************/

body {
    font-size: 20px;
    font-family: ;
}

h1 {
    font-size: 4em;
    font-weight: bold;
}

/*******************************
* ID STYLES 
*******************************/

#maingrid {
    display: grid;

}

#pagehead {
    background-color: aqua;
    outline: 1px solid black;
}