@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@700&family=Cabin:wght@400;700&family=Inter:wght@400;800&family=Lato:ital,wght@1,400;1,700&display=swap');

figure {
    float: right;
    position: relative;
    width: 67%;
    margin: 2vw;
}

figure .images {
    width: 100%;
    height: auto;
}

figure .images img {
    box-sizing: border-box;
    border: 10px solid #222;
}

figure .images img.large {
    width: 70%;
    left: 0;
}

figure .images img.small {
    position: absolute;
    /* border-color: transparent; */
    height: 36%;
    right: 0;
}

figure .images img.small.one {
    top: 5%;
}

figure .images img.small.two {
    bottom: 0%;
}

figure figcaption {
    font-family: Cabin, sans-serif;
    font-weight: bold;
}