html {
  font-family: sans-serif;

  /* Dark mode support */
  background-color: #ffffff;

  /* color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --bulma-primary-h: 234deg;
  --bulma-primary-s: 76%;
  --bulma-primary-l: 47%;
}

/* Dark mode support */
/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

body {
  margin: 0px;
  text-align: center;
}

.hero {
  display: flex;
  place-items: center;
  
  margin: 0px;
  height: max-content;

  background-color: hsl(234deg, 76%, 47%);
}

.hero-content-box {
  text-align: left;

  margin: 100px 100px 10px 100px;

  color: #ffffff;
}

.hero-content-box h1 {
  margin: 0px 20px 0px 20px;
  padding-bottom: 10px;
  border-bottom: 2px #ffffff solid;
  
  font-size: 5em;
  font-weight: 300;

  color: #ffffff;
}

.hero-content-box h2 {
  margin: 20px;

  font-size: 2em;
  font-weight: 300;
  color: #ffffff;
}

@media (max-width: 1000px) {
  .hero-content-box {
    margin: 100px auto 10px auto;
  }

  .hero-content-box h2 {
    width: 500px;
  }
}

@media (max-width: 640px) {
  .hero-content-box {
    text-align: center;
    width: min-content;
    margin: 20px auto 10px auto;
  }

  .hero-content-box h2 {
    width: auto;
  }
}